[submodule "thirdparty/plf_colony"]
	path = thirdparty/plf_colony
	url = https://github.com/mattreecebentley/plf_colony
[submodule "thirdparty/SPIRV-Reflect"]
	path = thirdparty/SPIRV-Reflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect
[submodule "thirdparty/octree-cpp"]
	path = thirdparty/octree-cpp
	url = https://github.com/annell/octree-cpp.git
[submodule "thirdparty/vcglib"]
	path = thirdparty/vcglib
	url = https://github.com/cnr-isti-vclab/vcglib
[submodule "thirdparty/crc"]
	path = thirdparty/crc
	url = https://github.com/boostorg/crc.git
[submodule "thirdparty/openxr-sdk"]
	path = thirdparty/openxr-sdk
	url = https://github.com/KhronosGroup/OpenXR-SDK.git
